body {
    background: hsl(30, 54%, 90%);
}
body p {
    font-size: 16px;
}
main {
    background: white;
    display: flex;
    flex-direction: column;
    width: 39%;
    border-radius: 2em;
    margin: auto; /* Add margin: auto; to center the element horizontally */
    margin-top: 7%; /* Add margin-top: 10%; to center the element vertically */
}

table {
    border-collapse: collapse;
  }
  
  table tr {
    border-bottom: 1px solid black;
  }
  
  table tr:last-child {
    border: 0;
  }


/* Colors */

.bg-rose {
    background-color:hsl(330, 100%, 98%);
}
.text-berry {
    color: hsl(332, 51%, 32%);
}
.nutmeg {
    color: hsl(14, 45%, 36%);
}
.brown {
    color: hsl(30, 10%, 34%);
}

/* Colors end */

.ml-4 {
    margin-left: 1.2em;
}
.mr-6 {
    margin-right: 2em;
}
.radius-2 {
    border-radius: 1em;
}
picture {
    align-self: center;
    padding: 5%;
    padding-bottom: 0;
}
img {
    margin-top: 0.5em;
    border-radius: 1em;
    width: 100%;
}
.font-outfit {
    font-family: 'Outfit', sans-serif;
}
ul li {
    font-family: 'Outfit', sans-serif;
    margin-top: 0.5em;
}
ol li {
    font-family: 'Outfit', sans-serif;
    margin-top: 0.5em;
}
ol li::marker {
    color: hsl(14, 45%, 36%);
}
.ml-6 {
    margin-left: 6%;
}
.description {
    text-align: start;
}
h1 {
    font-size: 42px;
    font-weight: 500;
}
h1, h2 {
    font-family: 'Young Serif', serif;
}
ol { padding-left: 2em; }